.bannar-content {
    color: $white;
        h2 {
            font-size: 36px;
        }
        p{
            max-width: 700px;
            margin: 30px auto;
        }
        a{
            margin: 0 10px;
        }
    }


