.cta-area{
    color: $white;
    text-align: center;
    h4{
         font-size: 40px;
         font-weight: 700;
         margin-bottom: 30px;
         padding-top: 50px;
    }
    p{
         width: 700px;
         margin: auto;
         font-size: 16px;
    }
    a{
        //  margin-left: 520px;
    } 
}