
.service-area{
    background-color: $bg_gray;
    .services{
        .single-service{
            width: 370px;
            border: 2px solid $bg_gray;
            text-align: center;
            float: left;
            overflow: hidden;
            margin-right: 30px;
            margin-bottom: 20px;
            padding: 30px;
            background-color: $white;
               &:hover{
                   i{
                       transform: scale(1.1);
                   }
               }
               &:nth-child(3){
                  margin-right: 0;
            }
            i{
                font-size: 30px;
                background-color: $bg_gray;
                width: 60px;
                height: 60px;
                border: 1px solid $bg_gray;
                border-radius: 50px;
                margin-bottom: 10px;
                transition: .3s;
                padding: 13px;
                &:hover{
                    background-color: $primary;
                    color: $white;
                }
            }
            h4{
                font-size: 23px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}
